* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.calculator {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px;
}

.cal-body {
  max-width: 300px;
}

.cal-row {
  display: flex;
}

.result {
  color: white;
  background-color: gray;
  padding: 10px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 20px;
}

.orange {
  background-color: orange !important;
}

.two-column {
  width: 140px !important;
  text-align: center;
}

.cal-col {
  padding: 15px 30px;
  width: 70px;
  height: 50px;
  background-color: #e0e0e0;
  border: 1px solid #bebebe;
  cursor: pointer;
}
